@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');

body {
    margin: 0;
    text-align: center;
}

.profile {
    padding-top: 20px;
    width: 250px;
    margin-bottom: 50px;
    border-radius: 50%;
    border: solid #000000;
    border-width: 7px;
    padding: 3px;
}

#welcome {
    color: #FFFFFF;
    height: 800px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.83;
    background: linear-gradient(#72e01d 0%, #1579eb 100%);
    display: table;
    width: 100%;
    height: 80%;
    z-index: 9;
    padding-top: 70px;
}

h1 {
    font-size: 40px;
    line-height: 1.2;
    font-family: 'Akaya-Telivigala', cursive;
    font-weight: 300;
}

#heading_name {
    font-size: 45px;
    line-height: 1.2;
    font-family: cursive;
}

h2 {
    font-size: 50px;
    font-weight: 300;
    line-height: 1.2;
    font-family: cursive;
    padding-top: 30px;
}

.parallax-inner {
    height: 8px;
    background-color: #000000;
    width: 110px;
    margin: 40px auto;
}

#bio {
    padding: 10px;
    text-align: center;
    font-weight: 800;
    margin: 25px auto;
    max-width: 700px;
}

p {
    font-size: 27px;
    font-family: 'Akaya Telivigala', cursive;
}

#per_info {
    display: table;
    position: relative;
    text-align: center;
}
.article {
    color: purple;
    font-family: cursive;
    font-size: 25px;
    text-decoration: underline #000000;
}

.article:hover {
    text-decoration: underline #ffc3e6;
    background-color: aqua;
}

html {
    scroll-behavior: smooth;
}

#heading_apps {
    font-size: 40px;
    font-weight: 300;
    line-height: 1.2;
    font-family: cursive;
    padding-top: 30px;
}

iframe {
    border: solid #000000;
    border-width: 3px;
    border-radius: 5px;
}

#location iframe {
    width: 100%;
    border: solid #000000;
    border-width : 4px;
    border-radius: 5px;
    padding: 3px;
}

#contact_1 h3{
    display: inline;
}

#contact_1 a{
    text-decoration: none;
    color: black;
}

#contact {
    background-color: orangered;
}

#heading_bio {
    font-size: 50px;
    font-weight: 300;
    line-height: 1.2;
    font-family: cursive;
    padding-top: 30px;
}

#myCarousel img:hover {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0, 0, 0, 0.3));
    cursor: pointer;
    transform: scale(0.9);
    border: 5px solid grey;
}

#myCarousel img{
    padding-top: 25px;
    padding-bottom: 15px;
    border: 3px solid #000000;
    border-radius: 5px;
}
#myCarousel p {
    padding-bottom: 30px;
}